{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_switch"> Add Switch</a>
  <a class="btn btn-success" href="/add_switch"> Add Hub</a>
  <hr>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Address</th>
      <th>Switch Number</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    </tr>
    {% for hub in hubs %}
      <tr>
        <td>{{hub.id}}</td>
        <td>{{hub.address}}</td>
        <td>{{hub.switch_num}}</td>
        <td><a href="edit_switch/{{hub.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_switch', id=hub.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
        <td>
          <form action="{{url_for('switch_in', address=hub.address, switch_num=hub.switch_num)}}" method="post">
            <input type="button" value="In" class="btn btn-primary">
          </form>
        </td>
        <td>
          <form action="{{url_for('switch_out', address=hub.address, switch_num=hub.switch_num)}}" method="post">
            <input type="button" value="Out" class="btn btn-primary">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
